/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face{font-family:cbw;src:url(../fonts/cbw.eot?-kgk6id);src:url(../fonts/cbw.eot?#iefix-kgk6id) format('embedded-opentype'),url(../fonts/cbw.woff?-kgk6id) format('woff'),url(../fonts/cbw.ttf?-kgk6id) format('truetype'),url(../fonts/cbw.svg?-kgk6id#cbw) format('svg');font-weight:400;font-style:normal}[class*=" icon-"],[class^=icon-]{font-family:cbw;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-film-camera:before{content:"\e60c"}.icon-photo-camera:before{content:"\e60d"}.icon-youth-sailing:before{content:"\e600"}.icon-windsurfing:before{content:"\e601"}.icon-wildlife:before{content:"\e602"}.icon-team:before{content:"\e603"}.icon-sailing:before{content:"\e604"}.icon-powerboating:before{content:"\e605"}.icon-places-to-stay:before{content:"\e606"}.icon-paddleboarding:before{content:"\e607"}.icon-keelboating:before{content:"\e608"}.icon-kayaking:before{content:"\e609"}.icon-history:before{content:"\e60a"}.icon-envelope:before{content:"\e610"}.icon-chevron-sign-left:before{content:"\e60b"}.icon-chevron-sign-right:before{content:"\e61a"}.icon-zoom-in:before{content:"\e611"}.icon-phone:before{content:"\e60e"}.icon-home:before{content:"\e60f"}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}

::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}

/* ==========================================================================
   Misc.
   ========================================================================== */

body{background:#eff6fa;font-family: "myriad-pro",sans-serif;font-style:normal;font-weight:400;}
.account-bar-bg{background-color:#004675;}
.logo-bg{background:#009bce;}
.menu-bg{background:#004675;position:fixed;top:0;width:100%;z-index:100;}
.main-bg{background:#fff;padding-top:20px;padding-bottom:20px;}
.footer-bg{background:#004675;}

.no-wrap{}

h1,h2,h3,h4,h5.h6{margin:0;}
p{margin:0;}

h1,h2,h3{font-family: "myriad-pro",sans-serif;font-style:normal;font-weight:600;}

.dotted{height:3px;background: url(../img/dotted.png) repeat-x;margin:0 0 20px 0;}

/* ==========================================================================
   Top Area
   ========================================================================== */
   
/* Account Bar */
.navbar{min-height:initial;}
.navbar-btn{padding:4px;}
.navbar-text{color:#fff;}
.account-buttons-top .btn-primary{border:none;}
   
/* Logo */
.logo{padding:60px 0 10px 0;margin:0 auto;}
.logo img{margin:0 auto;}
   
/* Main Menu */
.home{font-size:1.2em;line-height:1;}
.home a{height:50px;}

.navbar-default .navbar-brand{color:#fff;}
.navbar-nav{margin:0;}
.navbar-default{background:none;border:none;}
.navbar{position:relative;margin-bottom:0;}
.navbar-default .navbar-nav>li{border-bottom:1px dotted #fff;}
.navbar-default .navbar-nav>li.last{border-bottom:none;}
.navbar-default .navbar-nav>li>a{color:#fff;font-size:1.2em;}
.navbar-default .navbar-nav>li>a:hover{color:#fff;background-color:#009bce;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {color:#fff;background-color:#009bce;}
.navbar-collapse{padding-left:0;padding-right:0;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color:#fff;}
.navbar-default .navbar-toggle {border-color:#fff;}
.navbar-default .navbar-toggle .icon-bar {background-color:#fff;}
.navbar-default .navbar-toggle:hover .icon-bar{background-color:#009bce;}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{background-color:#009bce;}
   
/* Slider */
.slider{background:#009bce;margin:0 0 20px 0;}
.carousel-control.left{background-image:none;}
.left-img img{padding-top:75%;}
.carousel-control.right{right:0;left:auto;background-image:none;}
.right-img img{padding-top:75%;}

/* ==========================================================================
   Main Content Area
   ========================================================================== */
   
.main-content{color:#000;padding:0 0 20px 0;font-size:1.2em;}
.main-content h1{font-size:2em;margin:0 0 15px 0;color:#009bce;}
.main-content h2{font-size:1.4em;margin:0 0 15px 0;color:#009bce;}
.main-content h3{font-size:1.3em;margin:0 0 15px 0;color:#009bce;}
.main-content h4{font-size:1.3em;margin:0 0 15px 0;color:#009bce;}
.main-content h5{font-size:1.3em;margin:0 0 15px 0;color:#009bce;}
.main-content h6{font-size:1.3em;margin:0 0 15px 0;color:#009bce;}
.main-content p{margin:0 0 20px 0;}
.main-content ul{margin:0 0 20px 0;padding:0 0 0 20px;}
.main-content ol{margin:0 0 20px 0;padding:0 0 0 22px;}
.main-content li{}
.main-content img{margin:0 0 12px 0;display:block;height:auto;max-width:100%;}
.main-content a{color:#f05323;}

.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */padding-top:25px;height:0;margin:0 0 20px 0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
   
.inner-content{background:#eff6fa;padding:15px;margin:0 0 20px 0;}
.inner-content h1{color:#f05323;}

table.cbw-table{border-collapse:separate;border-spacing:5px;}
.table>thead>tr>th {vertical-align:bottom;border:none;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {padding:8px;line-height:1.42857143;border:none;}
.cbw-table{}
.cbw-table thead{background:#009bce;color:#fff;}
.cbw-table tr{border:none;}
.cbw-table th{}
.cbw-table tbody{background:#fff;}
.cbw-table td{}
.cbw-table h3{margin:0;font-size:1em;}

.cbw-table td.availability{background:#77c2e2;}
.cbw-table td.availability a{color:#000;display:block;}
.cbw-table td.book-online{background:#f05323;}
.cbw-table td.book-online a{color:#fff;display:block;}

/* Breadcrumbs */
.breadcrumbs a{color:#f05323;}
.breadcrumb>li+li:before{content: ">\00a0";padding:0 5px;color:#000;}
.breadcrumb{background:none;padding:0 15px;}
.breadcrumb>.active {color:#000;}

/* Sub Menu */
.sub-menu .selector-icon{height:111px;width:111px;}
.sub-menu .selector-icon span{font-size:111px;}

/* About Us */
.instructor-image{}
.instructor-image img{display:block;height:auto;max-width:100%;}

.instructor-description{}
.instructor-description h2{margin:0 0 6px 0;}
.instructor-description h3{color:#000;}

/* Activities Page */
.activity-selector{position:relative;text-align:center;}
.activity-selector h3{font-size:1em;white-space:nowrap;}
.activity-selector a{color:#009bce;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
.activity-selector:hover a{text-decoration:none;color:#f05323;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
.activity-selector span{position:absolute;width:100%;height:100%;top:0;left:0;
  z-index: 1;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('../img/empty.gif');}
.selector-icon{height:142px;color:#009bce;border-radius:15px;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;width:142px;margin:0 auto 5px auto;background:#fff;}
.selector-icon span{font-size:142px;}
.activity-selector:hover .selector-icon{color:#f05323;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;}

.activity-selector.active a{text-decoration:none;color:#f05323;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
.activity-selector.active .selector-icon{color:#f05323;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;}

.selector-guide{background:#004675;border-radius:15px;color:#fff;width:142px;position:relative;padding:15px 0;text-align:center;margin:0 auto 10px auto;}
.selector-guide h3{margin:0;font-size:1em;}
.selector-guide a{color:#fff;}
.selector-guide span{position:absolute;width:100%;height:100%;top:0;left:0;
  z-index: 1;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('../img/empty.gif');}
  
/* Courses Page Tabs */
.main-content ul.nav-tabs{padding:0;}
.nav-tabs>li>a{border-radius:0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background:#009bce;color:#fff;}

/* Checkout */
.readonly-field{background:none;border:none;text-align:center;}
  
/* Video Gallery Page */
.video .videoWrapper{margin:0 0 10px 0;}
.video-title h3{color:#000;font-size:1.2em;}

/* Image Gallery Page */
.image{height:150px;overflow:hidden;margin:0 0 5px 0;}
.image img{display:block;height:auto;max-width:100%;}
.image-title h3{color:#000;font-size:1.1em;}

/* Calendar Page */
.calendar-styles h2{color:#f05323;}
.calendar-styles h3{margin:0 0 5px 0;font-size:1.1em;}
.calendar-styles p{margin:0;}
.calendar-filter .selector-guide h3{color:#fff;}
.calendar-filter .activity-selector:hover h3{color:#f05323;}
.calendar-filter .activity-selector.filter{cursor:pointer;}
.calendar-filter .activity-selector.active h3{color:#f05323;}
.cal-spacer{margin:0 0 10px 0;}
#Container .mix{display:none;}
span.filter{cursor:pointer;display:block;}
.calendar-icon{color:#009bce;font-size:1.7em;vertical-align:-25%;margin:0 10px 0 0;}

/* Forms */
label{font-weight:400;}
.btn{color:#fff;border-radius:0;}
.btn-primary{background:#009bce;}
.btn-danger{background:##d9534f;}

/* My Account */
.main-content a.btn-primary{color:#fff;}
.spacer{margin:0 0 20px 0;}


/* Courses View Page */


/* ==========================================================================
   Side Column Boxes
   ========================================================================== */
   
/* Cart */
.cart{padding:20px;background:#004675;color:#fff;margin:0 0 20px 0;}
.cart h2{margin:0 0 10px 0;}
.cart ul{padding:0;}
.cart li{list-style:none;}
.cart ul li ul{padding:0 0 0 18px;} 
.cart ul li ul li{list-style:disc;}
.cart p{margin:0 0 10px 0;}

/* Activities and Training */
.activities-training{color:#004675;margin:0 0 20px 0;}
.activities-training h2{font-size:1.6em;}
.activities-training p{font-size:30px;}
.activities-training a{color:#009bce;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
.activities-training a:hover{color:#f05323;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;text-decoration:none;}

/* Callout Boxes */
.callout{padding:18px 20px;margin:0 0 20px 0;color:#fff;position:relative;font-size:1.2em;}
.callout h2{margin:0 0 10px 0;font-family: "myriad-pro",sans-serif;font-style:normal;font-weight:600;font-size:2.3em;line-height:1;}
.callout p{margin:0 0 7px 0;}
.callout a{color:#fff;}
.color-1{background:#009bce;}
.color-2{background:#f05323;}
.color-3{background:#004675;}
.callout span{position:absolute;width:100%;height:100%;top:0;left:0;
  z-index: 1;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('../img/empty.gif');}
  
/* Weather */
.weather{padding:20px;background:#004675;color:#fff;margin:0 0 20px 0;}
.weather h2{font-size:2em;}
.weather a{color:#fff;display:block;}
.weather a:hover{text-decoration:none;}

/* ==========================================================================
   Footer
   ========================================================================== */ 
   
/* Logo Bar */
.logo-bar{width:100%;border-top:5px solid #004675;padding:20px 0;text-align:center;}
.logo-bar img{padding:0 12px;}
   
/* Footer */
.footer-content-top{margin:30px 0 15px 0;color:#fff;text-align:center;}   
.footer-content-top a{color:#009bce;}
   
.footer-content{color:#fff;margin:0 0 15px 0;font-size:0.8em;text-align:center;}
.footer-content a{color:#fff;}
.footer-content ul{text-align:center;}
.footer-content li{display:inline;list-style:none;}
.footer-content li+li:before{content: "|\00a0";color:#fff;padding:0 4px;}
.footer-content li a{display:inline-block;}

.footer-content li.design{padding-left:3px;}
.footer-content li.design a{color:#009bce;}
   
   
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 392px){
	.image{height:100px;}
	/* Sub Menu */
	.sub-menu .selector-icon{height:100px;width:100px;}
	.sub-menu .selector-icon span{font-size:100px;}
	/* Activities Page */
	.selector-icon{height:100px;width:100px;}
	.selector-icon span{font-size:100px;}
	.selector-guide{width:100px;padding:7px 0;margin:0 auto 10px auto;}
	.selector-guide h3{margin:0;font-size:0.9em;}
}
   
   
@media (min-width: 768px){
	/* Misc */
	.menu-bg{position:static;width:auto;}
	.main-bg{padding-top:30px;}
	/* Logo */
	.logo{padding:10px 0 15px 0;margin:0;}
	.logo img{margin:0;}
	/* Main Menu */
	.navbar-brand{display:none;}
	.nav>li>a {display:inline-block;}
	.navbar-default .navbar-nav>li{border-bottom:none;}
	.navbar-default .navbar-nav>li+li:before{content: "|";color:#fff;font-size:1.4em;margin:0 -2px;padding:0;}
	.navbar-collapse{padding-left:15px;padding-right:15px;}
	/* Slider */
	.slider{margin:0 0 30px 0;}
	/* Breadcrumbs */
	.breadcrumb{margin-top:-10px;}
	/* About us */
	.instructor-image img{margin:0;}
	/* Activities Page */
	.activity-selector{text-align:left;}
	.selector-icon{height:210px;}
	.selector-icon span{font-size:210px;}
	.selector-guide{width:210px;padding:24px 0;margin:0 auto 10px auto;}
	.selector-guide h3{margin:0;font-size:1.4em;}
	/* Courses Page */
	.courses .selector-icon{height:145px;}
	.courses .selector-icon span{font-size:145px;}
	.activity-selector.courses  h3{font-size:0.9em;}
	.courses .selector-guide{width:145px;padding:15px 0;margin:0 auto 10px auto;}
	.courses .selector-guide h3{margin:0;font-size:1.1em;}
	/* Sub Menu */
	.sub-menu{text-align:center;}
	/* Footer */
	.footer-content-top{text-align:left;}  
	.footer-content{text-align:left;}
	.footer-content ul{text-align:right;}
}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 992px){
	/* Sub Menu */
	.sub-menu{text-align:left;}
	/* Activities Page */
	.selector-icon{height:144px;}
	.selector-icon span{font-size:144px;}
	.selector-guide{width:144px;padding:14px 0;margin:0 auto 12px auto;}
	.selector-guide h3{margin:0;font-size:1.1em;}
	/* Gallery */
	.image{height:100px;}
	/* Courses Page */
	#courses-margin{padding-right:10px;}
	.courses .selector-icon{height:75px;width:75px;}
	.courses .selector-icon span{font-size:75px;}
	.activity-selector.courses  h3{font-size:0.7em;}
	.courses .selector-guide{width:70px;padding:4px 0;margin:0 auto 8px auto;}
	.courses .selector-guide h3{margin:0;font-size:0.7em;}
	/* Schools/Clubs */
	.club .selector-icon{height:90px;width:90px;}
	.club .selector-icon span{font-size:90px;}
	.activity-selector.club   h3{font-size:0.9em;}
	/* Callouts */
	.callout h2{font-size:2em;}
}

@media (min-width: 1200px){
	/* Activities Page */
	.selector-icon{height:182px;}
	.selector-icon span{font-size:182px;}
	.selector-guide{width:182px;padding:19px 0;margin:0 auto 10px auto;}
	.selector-guide h3{margin:0;font-size:1.3em;}
	/* Gallery */
	.image{height:140px;}
	/* Courses Page */
	.courses .selector-icon{height:85px;width:85px;}
	.courses .selector-icon span{font-size:85px;}
	.activity-selector.courses  h3{font-size:0.8em;}
	.courses .selector-guide{width:85px;padding:5px 0;margin:0 auto 10px auto;}
	.courses .selector-guide h3{margin:0;font-size:0.8em;}
	/* Schools/Clubs */
	.club .selector-icon{height:111px;width:111px;}
	.club .selector-icon span{font-size:111px;}
	.activity-selector.club   h3{font-size:1em;}
	/* Callouts */
	.callout h2{font-size:2.3em;}
	
}

@media (max-width: 768px){

}

@media screen and (max-width: 400px){

}