{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								{if logged_in}
								
								<h1>Forgotten Password</h1>
							
								{sn_account_buttons}
							
								{exp:user:edit return="my-account/profile-successfully-updated" password_required="y" }
								
									<div class="content-form">
										
										<div class="form-group">
											<label for="password">Create a New Password?</label> 
											<input type="password" name="password" class="form-control" placeholder="Enter new password" required />
										</div>
										
										<div class="form-group">
											<label for="password_confirm">Password Confirm</label> 
											<input type="password" name="password_confirm" class="form-control" placeholder="Confirm password" required />
										</div>
										
										<div class="form-group">
											<label for="current_password">Current Password</label> 
											<input type="password" name="current_password" class="form-control" placeholder="Enter current password" required />
										</div>
									
										<button type="submit" class="btn btn-primary btn-lg">Change Password</button>
									
									</div>
									
								{/exp:user:edit}
								
							{if:else}
								{sn_myAccount_signin_form}
							{/if}				
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
