{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								<h2>Forgotten Password</h2>
					
								<p>Please type in your email address below and we will email you a link to go and reset your password.</p>
					
								{exp:user:forgot_password form:class="forgot_password"}
									<div class="content-form">
										<div class="form-group">
											<label for="email">Email Address</label>
											<input type="email" name="email" id="email" class="form-control" placeholder="Email address" required />
										</div>
									
										<button type="submit" class="btn btn-primary btn-lg btn-space">Reset Password</button>
									</div>
								{/exp:user:forgot_password}
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
