{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{if logged_in}
							<div class="row">
								<div class="col-lg-12">
									<div class="page-title">
										<h1>My Account</h1>
									</div>
									{sn_account_buttons}
								</div>
							</div>
							
							<div class="row">			
								<div class="col-lg-12">
									<div class="intro-text">
									
									<h2>Recent Orders</h2>
									{exp:store:orders}
										{if total_results > 5 && count == 1}
											<p>Showing last <strong>5</strong> orders. Go to <a href="{path='my-account/order-history/'}">My Orders</a> to view your full order history.</p>
										{/if}
									{/exp:store:orders}
									
										<table class="table cbw-table">
											<thead>
												<tr>
													<th>#</th>
													<th style="width:40%">Items</th>
													<th>Date</th>
													<th>Total</th>
													<th>Status</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												{exp:store:orders member_id='CURRENT_USER' order_by='order_date' sort='desc' limit="5"}

													{if no_orders}
														<tr>
															<td colspan="5">You haven't placed any orders yet!</td>
														</tr>
													{/if}

													<tr>
														<td>{order_id}</td>
														<td>
															{items}
																{item_qty} &times; {title}<br />
															{/items}
														</td>
														<td>{order_date format="%j %M %Y"}</td>
														<td>{order_total}</td>
														<td>{order_status}</td>
														<td><a href="{path='my-account/order-details/{order_hash}'}">Details</a></td>
													</tr>

												{/exp:store:orders}
											</tbody>
										</table>
										
									</div>
								</div>

							</div>
						{if:else}
							{sn_myAccount_signin_form}
						{/if}
						
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
