{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{if logged_in}
							<div class="row">
								<div class="col-lg-12">
									<div class="page-title">
										<h1>Profile Successfully Updated</h1>
									</div>
									{sn_account_buttons}
								</div>
							</div>
							
							<div class="row">			
								<div class="col-lg-12">
									<div class="intro-text">
									
										<p>Congratulations, your profile has been successfully updated!</p>
									
									</div>
								</div>

							</div>
						{if:else}
							{sn_myAccount_signin_form}
						{/if}
						
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
