{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								<h1>Thank you</h1>
								
								<p>Your account has been successfully created. Please check your emails for an email with an activation link to click to confirm your account setup!</p>
						
								<p><a href="{path='activities/'}">View Activities</a></p>
								
								<p><a href="{path='calendar/'}">View Our Calendar</a></p>
								
								<p><a href="{path='my-account/'}">My Account</a></p>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
