{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">

						<h1>{last_segment_category_name} Courses</h1>
						
						<div class="row" id="courses-margin">
							<div class="col-md-6">
								<div class="row">
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'sailing'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-sailing"></span>
											</div>
											<h3><a href="{site_url}activities/sailing/">Sailing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'windsurfing'}active{/if} courses">
											<div class="selector-icon">
											<span class="icon-windsurfing"></span>
										</div>
										<h3><a href="{site_url}activities/windsurfing/">Windsurfing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_3}' == 'a-taste-of-powerboating'}active{/if} courses">
											<div class="selector-icon">
											<span class="icon-powerboating"></span>
										</div>
										<h3><a href="{site_url}activities/powerboating/">Powerboating<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'keelboats'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-keelboating"></span>
											</div>
											<h3><a href="{site_url}activities/keelboats/">Keelboats<span></span></a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'paddleboarding'}active{/if} courses">
											<div class="selector-icon">
											<span class="icon-paddleboarding"></span>
										</div>
										<h3><a href="{site_url}activities/paddleboarding/">Paddleboarding<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'youth-sailing'}active{/if} courses">
											<div class="selector-icon">
											<span class="icon-youth-sailing"></span>
										</div>
										<h3><a href="{site_url}activities/youth-sailing/">Youth Sailing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'kayaking'}active{/if} courses">
											<div class="selector-icon">
											<span class="icon-kayaking"></span>
										</div>
										<h3><a href="{site_url}activities/kayaking/">Kayaking<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="courses">
											<div class="selector-guide">
												<h3><a href="{site_url}activities/price-guide/">Price<br/> Guide<span></span></a></h3>
											</div>
											
											<div class="selector-guide">
												<h3><a href="{site_url}activities/equipment-hire/">Equipment<br/> Hire<span></span></a></h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<h3>Upcoming Courses</h3>
						
						{exp:low_events:entries channel="courses" disable="categories|member_data|pagination|category_fields" dynamic="no"}
						
						
						
							<table class="table cbw-table" id="cbw-table">
								<thead>
									<tr>
										<th colspan="3">{title}: {event_date:start_date format="%j%S %F %Y"}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="3">{course_description}{course_description:course_intro}{/course_description}</td>
									</tr>
									<tr>
										<td>Start Time: {event_date:start_date format="%H.%i"}</td>
										<td>Price: {product_details}{price}{/product_details}</td>
										{exp:store:product entry_id="{entry_id}"}
									
										<td class="availability">{if total_stock > 0} {total_stock} Places Left {if:else} Fully Booked! {/if}</td>
									</tr>
									<tr>
										<td colspan="2">Terms &amp; conditions</td>
										<td class="book-online"><a href="{path="courses/view/{url_title}"}">Book online</a></td>
										{/exp:store:product}
									</tr>
								</tbody>
							</table>
							{if no_results}
							<p>Sorry there aren't any upcoming '{last_segment_category_name}' courses - please contact us for further information</p>
							{/if}
							<div class="dotted"></div>						
						
						{/exp:low_events:entries}
						
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
