{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
		
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
					
					{exp:store:product_form return="checkout/checkout"}

						  {exp:channel:entries channel="courses"}
							{exp:store:product entry_id="{entry_id}" disable_form="yes"}
							
							<h1>{title} ({event_date:start_date format="%j%S %F %Y"})</h1>

							<table class="table cbw-table">
								<thead>
									<tr>
										<td>Start Time:</td>
										<td>Price per person:</td>
										<td>Places</td>
									</tr>
								</thead>
								<tbody>
									<tr> 
										<td>{event_date:start_date format="%H.%i"}</td>
										<td>{if on_sale}
												<del>{regular_price}</del>
												<strong>{sale_price}</strong><br />
												Save {you_save}!
											{if:else}
												{price}
											{/if}</td>
										<td>{if total_stock > 0}<strong>{total_stock}</strong> Places Left {if:else} Fully Booked! {/if}</td>
									</tr>
								</tbody>
							</table>
							
							{modifiers}
								{if "{modifier_name}" == "Booking Type"}
									<div class="form-group">
										<label>{modifier_name}</label>
								{if:else}
								{/if}
								{if "{modifier_name}" == "Booking Type"}
									<select name="value-controler" class="form-control" id="booking_control" required>
									  {modifier_options}
										<option value="{option_id}">
										  {option_name}
										  {if price_mod_val} ({price_mod}) {/if}
										</option>
									  {/modifier_options}
									</select>
								</div>
								{if:else}
								{/if}
							{/modifiers}

							<div id="entry1" class="clonedInput">
							  <h2 id="reference" name="reference" class="heading-reference">Attendee #1</h2>
							  {modifiers}
								<div class="form-group">
								  {if "{modifier_name}" == "Date" || "{modifier_name}" == "Booking Type"}
								  {if:else}
									<label>{modifier_name}</label>
								  {/if}
								  {if modifier_instructions}<small>{modifier_instructions}</small><br />{/if}
								  {if modifier_type == 'var' OR modifier_type == 'var_single_sku'}
									{if "{modifier_name}" == "Booking Type"}
										<input type="hidden" name="items[1][{modifier_input_name}]" value="" class="booking_value select_bt" />
									{if:else}
									<select name="items[1][{modifier_input_name}]" class="form-control {if '{modifier_name}' == 'Booking Type'}select_bt{/if}">
									  {modifier_options}
										<option value="{option_id}">
										  {option_name}
										  {if price_mod_val} ({price_mod}) {/if}
										</option>
									  {/modifier_options}
									</select>
									{/if}
								  {if:else}
									{if "{modifier_name}" == "Date"}
										 <input type="hidden" name="items[1][{modifier_input_name}]" size="3" value="{event_date:start_date format='%j%S %F %Y'}" class="form-control input_date"/>
									{if:else}
									<input type="text" name="items[1][{modifier_input_name}]" class="form-control {if '{modifier_name}' == 'Attendee Name'}input_an{/if}" required>
									{/if}
								  {/if}
								</div>
							  {/modifiers}
							  
							  <input type="hidden" name="items[1][entry_id]" value="{entry_id}" class="input_entryid" />
							  <input type="hidden" name="items[1][item_qty]" size="3" value="1" class="input_qty" />
							  
							</div>
							
							<p>
							<input type="button" id="btnAdd" name="btnAdd" class="btn btn-primary" value="add attendee" />
							<input type="button" id="btnDel" name="btnDel" class="btn btn-danger" value="remove attendee" />
							</p>
							  
							{/exp:store:product}
						  {/exp:channel:entries}

						  
						<input type="submit" name="submit" value="Add to Cart" class="btn btn-primary btn-lg" />
						 

					{/exp:store:product_form}
						
					</div>
					
				</div>
				<div class="col-md-3">
				
					{sn_side_cart}
					
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
		
		<script>
			
		$(function () {
		
			$('#btnAdd').click(function () {
				var num     = $('.clonedInput').length, // Checks to see how many "duplicatable" input fields we currently have
					newNum  = new Number(num + 1),      // The numeric ID of the new input field being added, increasing by 1 each time
					newElem = $('#entry' + num).clone().attr('id', 'entry' + newNum).fadeIn('slow'); // create the new element via clone(), and manipulate it's ID using newNum value
					
				// H2 - section
				newElem.find('.heading-reference').attr('id', 'ID' + newNum + '_reference').attr('name', 'ID' + newNum + '_reference').html('Attendee #' + newNum);

				// My Inputs
				newElem.find('.input_an').attr('name', 'items[' + newNum + '][{exp:channel:entries channel="courses"}{exp:store:product entry_id="{entry_id}" disable_form="yes" disable_javascript="yes"}{modifiers}{if "{modifier_name}" == "Attendee Name"}{modifier_input_name}{if:else}{/if}{/modifiers}{/exp:store:product}{/exp:channel:entries}]').val('');
				newElem.find('.select_bt').attr('name', 'items[' + newNum + '][{exp:channel:entries channel="courses"}{exp:store:product entry_id="{entry_id}" disable_form="yes" disable_javascript="yes"}{modifiers}{if "{modifier_name}" == "Booking Type"}{modifier_input_name}{if:else}{/if}{/modifiers}{/exp:store:product}{/exp:channel:entries}]');
				newElem.find('.input_date').attr('name', 'items[' + newNum + '][{exp:channel:entries channel="courses"}{exp:store:product entry_id="{entry_id}" disable_form="yes" disable_javascript="yes"}{modifiers}{if "{modifier_name}" == "Date"}{modifier_input_name}{if:else}{/if}{/modifiers}{/exp:store:product}{/exp:channel:entries}]').val('{exp:channel:entries channel="courses"}{event_date:start_date format='%j%S %F %Y'}{/exp:channel:entries}');
				newElem.find('.input_entryid').attr('name', 'items[' + newNum + '][entry_id]').val('{exp:channel:entries channel="courses"}{entry_id}{/exp:channel:entries}');
				newElem.find('.input_qty').attr('name', 'items[' + newNum + '][item_qty]').val('1');

			// Insert the new element after the last "duplicatable" input field
				$('#entry' + num).after(newElem);
				$('#ID' + newNum + '_title').focus();

			// Enable the "remove" button. This only shows once you have a duplicated section.
				$('#btnDel').attr('disabled', false);

			// Right now you can only add 4 sections, for a total of 5. Change '5' below to the max number of sections you want to allow.
				if (newNum == {exp:channel:entries channel="courses"}{exp:store:product entry_id="{entry_id}" disable_form="yes" disable_javascript="yes"}{total_stock}{/exp:store:product}{/exp:channel:entries})
				$('#btnAdd').attr('disabled', true).prop('value', "You've reached the limit"); // value here updates the text in the 'add' button when the limit is reached 
			});

			$('#btnDel').click(function () {
			// Confirmation dialog box. Works on all desktop browsers and iPhone.
				if (confirm("Are you sure you wish to remove this attendee?"))
					{
						var num = $('.clonedInput').length;
						// how many "duplicatable" input fields we currently have
						$('#entry' + num).slideUp('slow', function () {$(this).remove();
						// if only one element remains, disable the "remove" button
							if (num -1 === 1)
						$('#btnDel').attr('disabled', true);
						// enable the "add" button
						$('#btnAdd').attr('disabled', false).prop('value', "add section");});
					}
				return false; // Removes the last section you added
			});
			// Enable the "add" button
			$('#btnAdd').attr('disabled', false);
			// Disable the "remove" button
			$('#btnDel').attr('disabled', true);
		});
		
		
		$(function() {
			$("#booking_control").prop("selectedIndex", -1);
			$('#booking_control').change(function() {
				var x = $(this).val();
				$('.booking_value').val(x);
			});
		});
		</script>
		
    </body>
</html>
