{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="pages" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						<h1>{title}</h1>
						
						<div class="row">
							<div class="col-xs-6 col-sm-3 col-md-2">
								<div class="activity-selector {if '{segment_2}' == 'images'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-photo-camera"></span>
									</div>
									<h3><a href="{site_url}cbw-gallery/images/">Images<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2">
								<div class="activity-selector {if '{segment_2}' == 'videos'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-film-camera"></span>
									</div>
									<h3><a href="{site_url}cbw-gallery/video/">Videos<span></span></a></h3>
								</div>
							</div>
						</div>
						
						{main_content}
						
						{/exp:channel:entries}
						
						<div class="dotted"></div>
						
						<div class="row">
						
							{exp:channel:entries channel="photos" url_title="{last_segment}" disable="categories|category_fields|member_data|pagination"}
							
								{photo_gallery}
									<div class="col-xs-6 col-sm-4 col-md-3">
										<div class="image">
											<a href="{image}" data-lightbox="gallery" data-title="{title}"><img src="{image}" alt="{title}" /></a>
										</div>
										<div class="image-title">
											<h3>{title}</h3>
										</div>
									</div>
								{/photo_gallery}
								
							{/exp:channel:entries}
						</div>
						
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
        {sn_global_js_analytics}
    </body>
</html>
