{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="pages" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						
						<h1>About us</h1>
						
						<div class="row">
							<div class="col-xs-6 col-sm-3 col-md-2">
								<div class="activity-selector {if '{segment_2}' == 'history'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-history"></span>
									</div>
									<h3><a href="{site_url}about-us/history/">History<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2">
								<div class="activity-selector {if '{segment_2}' == 'meet-the-cardigan-bay-watersports-team'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-team"></span>
									</div>
									<h3><a href="{site_url}about-us/meet-the-cardigan-bay-watersports-team/">Meet the Team<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2">	
								<div class="activity-selector {if '{segment_2}' == 'wildlife'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-wildlife"></span>
									</div>
									<h3><a href="{site_url}about-us/wildlife/">Wildlife<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2">	
								<div class="activity-selector {if '{segment_2}' == 'places-to-stay'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-places-to-stay"></span>
									</div>
									<h3><a href="{site_url}about-us/places-to-stay/">Places to Stay<span></span></a></h3>
								</div>
							</div>
						</div>
						
						<h2>{title}</h2>
						
						{main_content}
						
						{/exp:channel:entries}
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
