{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="pages" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						
						<h1>{title}</h1>
						
						{main_content}
						
						{/exp:channel:entries}
						
						<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="activity-selector">
									<div class="selector-icon">
										<span class="icon-sailing"></span>
									</div>
									<h3><a href="{site_url}activities/sailing/">Sailing<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="activity-selector">
									<div class="selector-icon">
										<span class="icon-windsurfing"></span>
									</div>
									<h3><a href="{site_url}activities/windsurfing/">Windsurfing<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="activity-selector">
									<div class="selector-icon">
										<span class="icon-powerboating"></span>
									</div>
									<h3><a href="{site_url}activities/powerboating/">Powerboating<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="activity-selector">
									<div class="selector-icon">
										<span class="icon-keelboating"></span>
									</div>
									<h3><a href="{site_url}activities/keelboats/">Keelboats<span></span></a></h3>
								</div>
							</div>
							
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="activity-selector">
									<div class="selector-icon">
										<span class="icon-paddleboarding"></span>
									</div>
									<h3><a href="{site_url}activities/paddleboarding/">Paddleboarding<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="activity-selector">
									<div class="selector-icon">
										<span class="icon-youth-sailing"><div class="white"></div></span>
									</div>
									<h3><a href="{site_url}activities/youth-sailing/">Youth Sailing<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="activity-selector">
									<div class="selector-icon">
										<span class="icon-kayaking"></span>
									</div>
									<h3><a href="{site_url}activities/kayaking/">Kayaking<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3">
								<div class="selector-guide">
									<h3><a href="{site_url}activities/price-guide/">Price<br/> Guide<span></span></a></h3>
								</div>
								
								<div class="selector-guide">
									<h3><a href="{site_url}activities/equipment-hire/">Equipment<br/> Hire<span></span></a></h3>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
