{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="pages" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						<div class="row">
							<div class="col-md-12">
									<h1>{title} - {current_time format="%Y"}</h1>
									{main_content}
								{/exp:channel:entries}
								
								<div class="row calendar-filter" id="courses-margin">
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="activity-selector courses filter" data-filter=".sailing">
													<div class="selector-icon">
														<span class="icon-sailing"></span>
													</div>
													<h3>Sailing<span></span></h3>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="activity-selector courses filter" data-filter=".windsurfing">
													<div class="selector-icon">
														<span class="icon-windsurfing"></span>
													</div>
												<h3>Windsurfing<span></span></h3>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="activity-selector courses filter" data-filter=".powerboating">
													<div class="selector-icon">
														<span class="icon-powerboating"></span>
													</div>
												<h3>Powerboating<span></span></h3>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="activity-selector courses filter" data-filter=".keelboats">
													<div class="selector-icon">
														<span class="icon-keelboating"></span>
													</div>
													<h3>Keelboats<span></span></h3>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="activity-selector courses filter" data-filter=".paddleboarding">
													<div class="selector-icon">
														<span class="icon-paddleboarding"></span>
													</div>
												<h3>Paddleboarding<span></span></h3>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="activity-selector courses filter" data-filter=".youth-sailing">
													<div class="selector-icon">
														<span class="icon-youth-sailing"></span>
													</div>
												<h3>Youth Sailing<span ></span></h3>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="activity-selector courses filter" data-filter=".kayaking">
													<div class="selector-icon">
														<span class="icon-kayaking"></span>
													</div>
												<h3>Kayaking<span></span></h3>
												</div>
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3">
												<div class="courses">
													<div class="selector-guide">
														<h3>View<br/> All<span class="filter" data-filter="all"></span></h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="calendar-styles" id="Container">
								
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-01" limit="1"}
										<h2>January</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-01"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-02" limit="1"}
										<h2>February</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-02"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-03" limit="1"}
										<h2>March</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-03"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-04" limit="1"}
										<h2>April</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-04"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-05" limit="1"}
										<h2>May</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-05"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="calendar-icon icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-06" limit="1"}
										<h2>June</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-06"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-07" limit="1"}
										<h2>July</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-07"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-08" limit="1"}
										<h2>August</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-08"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-09" limit="1"}
										<h2>September</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-09"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-10" limit="1"}
										<h2>October</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-10"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-11" limit="1"}
										<h2>November</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-11"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
									
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-12" limit="1"}
										<h2>December</h2>
									{/exp:low_events:entries}
									{exp:low_events:entries channel="courses" date="{current_time format="%Y"}-12"}
										<div class="mix {event_type:url_title} clearfix">
											<h3>{event_date:start_date  format="%j%S %F %Y"}</h3>
											<p><span class="icon-{event_type:url_title}"></span> <a href="{path='courses/view/{url_title}'}">{title}</a></p>
											<div class="cal-spacer"></div>
										</div>	
									{/exp:low_events:entries}
								
								</div>

								
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
