{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="pages" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						<div class="row">
							<div class="col-md-12">
								<div class="title">
									<h1>{title}</h1>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
									{main_content}
								{/exp:channel:entries}
							</div>
							<div class="col-md-6">
								{exp:freeform:form
									form_id="1"
									form:id="contact"
									form_name="contact"
									required="name|email|telephone|user_message"
									admin_notify="info@userfusion.com" 
									admin_notification_template="contact"
									return="contact/thank-you"
								}
								
									<div class="form-group">
										<label for="name">Name:</label>
										<input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
									</div>
									
									<div class="form-group">
										<label for="phone">Telephone number:</label>
										<input type="text" class="form-control" id="phone" name="telephone" placeholder="Enter phone number" required>
									</div>
								
									<div class="form-group">
										<label for="email">Email address:</label>
										<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
									</div>
									
									<div class="form-group">
										<label for="email">Message:</label>
										<textarea class="form-control" rows="3" name="user_message"></textarea>
									</div>
									
									<button type="submit" class="btn">Submit</button>
									
								{/exp:freeform:form}
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
