{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="activities" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						<h1>{title}</h1>
						
						<div class="row" id="courses-margin">
							<div class="col-md-6">
								<div class="row">
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'sailing'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-sailing"></span>
											</div>
											<h3><a href="{site_url}activities/sailing/">Sailing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'windsurfing'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-windsurfing"></span>
											</div>
										<h3><a href="{site_url}activities/windsurfing/">Windsurfing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'powerboating'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-powerboating"></span>
											</div>
										<h3><a href="{site_url}activities/powerboating/">Powerboating<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'keelboats'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-keelboating"></span>
											</div>
											<h3><a href="{site_url}activities/keelboats/">Keelboats<span></span></a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'paddleboarding'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-paddleboarding"></span>
											</div>
										<h3><a href="{site_url}activities/paddleboarding/">Paddleboarding<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'youth-sailing'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-youth-sailing"></span>
											</div>
										<h3><a href="{site_url}activities/youth-sailing/">Youth Sailing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="activity-selector {if '{segment_2}' == 'kayaking'}active{/if} courses">
											<div class="selector-icon">
												<span class="icon-kayaking"></span>
											</div>
										<h3><a href="{site_url}activities/kayaking/">Kayaking<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<div class="courses">
											<div class="selector-guide">
												<h3><a href="{site_url}activities/price-guide/">Price<br/> Guide<span></span></a></h3>
											</div>
											
											<div class="selector-guide">
												<h3><a href="{site_url}activities/equipment-hire/">Equipment<br/> Hire<span></span></a></h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						{activities_content}
						{/exp:channel:entries}
						
						<!-- Courses Tabs Start -->
						
						<!-- Courses Tabs Nav Start -->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#courses" data-toggle="tab">Courses</a></li>
							<li><a href="#dropIn" data-toggle="tab">Drop in Activities</a></li>
						</ul><!-- Courses Tabs Nav End -->
						
						<!-- Courses Tabs Content Start -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="courses">
							
								<h3>Courses</h3>
								{exp:channel:entries channel="course_descriptions" order_by="entry_id" sort="asc" category="{last_segment_category_id}" dynamic="no" disable="member_data|pagination" }
									<table class="table cbw-table" id="cbw-table">
										<thead>
											<tr>
												<th colspan="3">{title}</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="3">{course_intro}</td>
											</tr>
											<tr>
												<td>Duration: {course_duration}</td>
												<td>Price: from &pound; {course_price}</td>
												<td class="availability"><a href="">Check availability</a></td>
											</tr>
											<tr>
												<td colspan="2">Terms &amp; conditions</td>
												<td class="book-online"><a href="{site_url}courses/category/{categories show_group='1' limit='1'}{category_url_title}{/categories}">View Dates</a></td>
											</tr>
										</tbody>
									</table>
								{/exp:channel:entries}
								
							</div>
							
							<div class="tab-pane fade" id="dropIn">
								<h3>Drop in Activities</h3>
								
								{exp:channel:entries channel="drop_in_activities" category="{last_segment_category_id}" dynamic="no" disable="member_data|pagination" }
								<p>You can request a preferred date for you activity during booking</p>
								
									<h2>{title}</h2>
									{activity_description}
									<hr />
									{exp:store:product entry_id="{entry_id}" return="checkout/dropin-checkout"}
										<p>
										{if on_sale}
											<del>{regular_price}</del>
											<strong>{sale_price}</strong><br />
											Save {you_save}!
										{if:else}
											Price: {price}
										{/if}
										<div class="alert alert-danger">Note: Payment will not be taken upon making an enquiry for a Drop in Activity. 
										You will be able to pay in full or make a deposit via the website once your preferred date availability has been confirmed.</div>
										</p>
										{modifiers}
											<div class="form-group">
												<label>{modifier_name}</label><br />
												{if modifier_instructions}<small>{modifier_instructions}</small><br />{/if}
												{if modifier_type == 'var' OR modifier_type == 'var_single_sku'}
													<select name="{modifier_input_name}" class="form-control">
													{modifier_options}
														<option value="{option_id}">
														{option_name}
														{if price_mod_val} (+ {price_mod}) {/if}
														</option>
													{/modifier_options}
													</select>
												{if:else}
													<input type="text" name="{modifier_input_name}" class="form-control" required>
												{/if}
											</div>
										{/modifiers}
										<div class="form-group">
											<label>Number of tickets</label>
											<input type="text" name="item_qty" size="3" value="" class="form-control" required/>
										</div>
										<input type="submit" name="submit" value="Add to Cart" class="btn btn-primary btn-lg" />
									{/exp:store:product}
									{if no_results}
										<p>Sorry there are currently no options for you to prebook this activity - Pleae contact us for more information.</p>
									{/if}
								{/exp:channel:entries}
							</div>
							
						</div><!-- Courses Tabs Content End -->
						
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
