{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="pages" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						<h1>{title}</h1>
						
						<div class="row">
							<div class="col-xs-6 col-sm-3 col-md-2">
								<div class="activity-selector {if '{segment_2}' == 'images'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-photo-camera"></span>
									</div>
									<h3><a href="{site_url}cbw-gallery/images/">Images<span></span></a></h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-2">
								<div class="activity-selector {if '{segment_2}' == 'videos'}active{/if} sub-menu">
									<div class="selector-icon">
										<span class="icon-film-camera"></span>
									</div>
									<h3><a href="{site_url}cbw-gallery/video/">Videos<span></span></a></h3>
								</div>
							</div>
						</div>
						
						{main_content}
						
						{/exp:channel:entries}
						
						<div class="dotted"></div>
						
						<div class="row">
						
							<div class="col-md-12">
								<div class="">
									<h2>Latest Image Galleries</h2>
								</div>
							</div>
						
							{exp:channel:entries channel="photos" disable="categories|member_data|category_fields" limit="4" sort="asc" paginate="bottom" dynamic="no"}
								
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="image">
										{photo_gallery limit="1"}
											<a href="{path="cbw-gallery/view-gallery/{url_title}"}"><img src="{image}" alt="{title}" /></a>
										{/photo_gallery}
									</div>
									<div class="image-title">
										<h3>{title}</h3>
									</div>
								</div>
								
							{/exp:channel:entries}
						</div>
						
						<div class="row">
						
							<div class="col-md-12">
								<div class="">
									<h2>Latest Videos</h2>
								</div>
							</div>
						
							{exp:channel:entries channel="videos" disable="categories|member_data|category_fields" limit="2" sort="asc" paginate="bottom" dynamic="no"}
								
								<div class="col-sm-6 col-md-6">
									<div class="video">
										<div class="videoWrapper">
											{video_embed_code}
										</div>
										<div class="video-title">
											<h3>{title}</h3>
										</div>
									</div>
								</div>
								
							{/exp:channel:entries}
						</div>
						
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
