{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<!-- Slider Start -->
			<div class="row">
				<div class="col-md-12">
					<div class="slider">
						<div id="y-talbot-carousel" class="carousel slide" data-ride="carousel">

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner">
							
							<div class="item active">
							  <img src="img/slide-test-1.jpg" alt="">
							  <!-- Slide Text Code <div class="slider-text">
								<p>{alt_text_{language_code}}</p>
							  </div> -->
							</div>
						  
							<div class="item">
							  <img src="img/slide-test-2.jpg" alt="">
							  <!-- Slide Text Code <div class="slider-text">
								<p>{alt_text_{language_code}}</p>
							  </div> -->
							</div>
							
						  </div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#y-talbot-carousel" data-slide="prev">
							<span class="left-img"><img src="img/slider-left.png" alt="" /></span>
						  </a>
						  <a class="right carousel-control" href="#y-talbot-carousel" data-slide="next">
							<span class="right-img"><img src="img/slider-right.png" alt="" /></span>
						  </a>
						  
						</div>
					</div><!-- Slider End -->
				</div>
			</div><!-- Slider End -->
			
			<div class="row">
				<div class="col-md-6">
					<div class="main-content" id="startcontent">
						{exp:channel:entries channel="home" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						
							<h1>{home_page_heading}</h1>
							
							<div class="videoWrapper">
								{home_page_video}
							</div>
							
							{home_page_content}
						
						{/exp:channel:entries}
					</div>
				</div>
				<div class="col-md-3">
					{sn_side_activities_training}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_twitter}
					
					{sn_side_callout_3}
				</div>
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
