{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						{exp:channel:entries channel="schools_clubs" disable="categories|member_data|pagination|category_fields" limit="1" sort="asc"}
						<h1>{title}</h1>
						
						<h2>{clubs_sub_heading}</h2>
						
						<div class="row">
							<div class="col-md-8">
								<div class="videoWrapper">
									<iframe width="560" height="315" src="//www.youtube.com/embed/Xm-saSgzLCU?rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-xs-6 col-sm-3 col-md-6">
										<div class="activity-selector sub-menu club">
											<div class="selector-icon">
												<span class="icon-sailing"></span>
											</div>
											<h3><a href="{site_url}activities/sailing/">Sailing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-6">
										<div class="activity-selector sub-menu club">
											<div class="selector-icon">
												<span class="icon-windsurfing"></span>
											</div>
											<h3><a href="{site_url}activities/windsurfing/">Windsurfing<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-6">
										<div class="activity-selector sub-menu club">
											<div class="selector-icon">
												<span class="icon-kayaking"></span>
											</div>
											<h3><a href="{site_url}activities/kayaking/">Kayaking<span></span></a></h3>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-6">
										<div class="activity-selector sub-menu club">
											<div class="selector-icon">
												<span class="icon-youth-sailing"></span>
											</div>
											<h3><a href="{site_url}activities/youth-sailing/">Youth Sailing<span></span></a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						{main_content}
						
						<table class="table cbw-table" id="cbw-table">
							<thead>
								<tr>
									<th colspan="3">{clubs_table_heading}</th>
								</tr>
							</thead>
							<tbody>
								{clubs_time_table}
									<tr>
										<td>{time}</td>
										<td colspan="2">{info}</td>
									</tr>
								{/clubs_time_table}
								
								{clubs_table_info}
								<tr>
									<td colspan="3"><h3>{heading_2}</h3></td>
								</tr>
								<tr>
									<td colspan="3">{info_2}</td>
								</tr>
								<tr>
									<td>Time: {time}</td>
									<td colspan="2">Price: &pound;{price}</td>
								</tr>
								<tr>
									<td>Terms &amp; conditions</td>
									<td  colspan="2" class="book-online"><a href="{site_url}contact-us/">Make an Enquiry</a></td>
								</tr>
								{/clubs_table_info}
							</tbody>
						</table>
						
						{/exp:channel:entries}
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
