{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								<h1>Checkout</h1>
								
								{if logged_in}
								
								{exp:store:checkout
									next="checkout/checkout-step2"}

									{if no_items}
										<div class="alert alert-error">Your cart is empty!</div>
									{/if}

									<table class="table">
										<thead>
											<tr>
												<th style="width:60%">Product</th>
												<th>Price</th>
												<th>Qty</th>
												<th style="text-align:right">Total</th>
											</tr>
										</thead>
										<tbody>
											{items}
												<tr>
													<td>
														<h4><a href="{path='store_example/product'}/{url_title}">{title}</a></h4>
														<p><small>
															<b>SKU:</b> {sku}<br />
															{modifiers}
																<b>{modifier_name}</b>: {modifier_value} {if price_mod_val}({price_mod}){/if}<br />
															{/modifiers}
														</small></p>
													</td>
													<td>{price}</td>
													<td><input name="items[{key}][item_qty]" value="{item_qty}" class="input-mini" /></td>
													<td style="text-align:right">{item_subtotal}</td>
												</tr>
											{/items}
											<tr>
												<th colspan="3">Subtotal</th>
												<th style="text-align:right">{order_subtotal}</th>
											</tr>
											<tr>
											  <td>Promo Code</td>
												<td colspan="2">{field:promo_code}</td>
												<td style="text-align:right">{order_discount}</td>
											</tr>
											<tr>
												<td>Shipping</td>
												<td colspan="2">
													{field:shipping_method}
													{if error:shipping_method}<p class="help-block">{error:shipping_method}</p>{/if}
												</td>
												<td style="text-align:right">{order_shipping}</td>
											</tr>
											{if order_handling_val}
												<tr>
													<td colspan="3">Handling</td>
													<td style="text-align:right">{order_handling}</td>
												</tr>
											{/if}
											{if tax_name}
												<tr>
													<td colspan="3">{tax_name} ({tax_percent}%)</td>
													<td style="text-align:right">{order_tax}</td>
												</tr>
											{/if}
											<tr>
												<th colspan="3">Total</th>
												<th style="text-align:right">{order_total}</th>
											</tr>
										</tbody>
									</table>

									<div class="form-actions">
										<input type="submit" name="update_cart" value="Update Totals" class="btn btn-primary btn-lg" />
										<input type="submit" name="empty_cart" value="Empty Cart" class="btn btn-danger btn-lg" />
										<input type="submit" name="next" value="Continue to Billing Details" class="btn btn-primary btn-lg" />
									</div>

								{/exp:store:checkout}
								
								{if:else}
									{sn_myAccount_signin_form}
								{/if}
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
