{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								<h1>Checkout - Step 2</h1>
								
								<div class="alert alert-danger">Note: Payment will not be taken upon making an enquiry for a Drop in Activity. 
								You will be able to pay in full or make a deposit via the website once your preferred date availability has been confirmed.</div>
								
								{if logged_in}
								
								{exp:store:checkout
								next="checkout/dropin-checkout-step3"
								error_handling="inline"
								error_delimiters='<div class="alert alert-danger">|</div>'
								require="name|address1|city|country|order_email"}

								{if no_items}
									{redirect="checkout/dropin-checkout"}
								{/if}

								<fieldset id="billing_details">
									<legend>Billing Details</legend>

									<div class="form-group {if error:billing_name}error{/if}">
										<label for="billing_name">Name</label>
										<input type="text" id="billing_name" name="billing_name" class="form-control" value="{billing_name}" /> {error:billing_name}
									</div>

									<div class="form-group {if error:billing_address1}error{/if}">
										<label for="billing_address1">Address</label>
										<input type="text" id="billing_address1" name="billing_address1" class="form-control" value="{billing_address1}" /> {error:billing_address1}
									</div>

									<div class="form-group {if error:billing_address2}error{/if}">
										<input type="text" id="billing_address2" name="billing_address2" class="form-control" value="{billing_address2}" />  {error:billing_address2}
									</div>

									<div class="form-group {if error:billing_city}error{/if}">
										<label for="billing_city">City</label>
										<input type="text" id="billing_city" name="billing_city" class="form-control" value="{billing_city}" /> {error:billing_city}
									</div>

									<div class="form-group {if error:billing_postcode}error{/if}">
										<label for="billing_postcode">Postcode</label>
										<input type="text" id="billing_postcode" name="billing_postcode" class="form-control" value="{billing_postcode}" />  {error:billing_postcode}
									</div>

									<div class="form-group {if error:billing_country}error{/if}">
										<label for="billing_country">Country</label>
										<select id="billing_country" name="billing_country" class="form-control"><option value='AF' >Afghanistan</option>
											<option value='AX' >Aland Islands</option>
											<option value='AL' >Albania</option>
											<option value='DZ' >Algeria</option>
											<option value='AS' >American Samoa</option>
											<option value='AD' >Andorra</option>
											<option value='AO' >Angola</option>
											<option value='AI' >Anguilla</option>
											<option value='AQ' >Antarctica</option>
											<option value='AG' >Antigua and Barbuda</option>
											<option value='AR' >Argentina</option>
											<option value='AM' >Armenia</option>
											<option value='AW' >Aruba</option>
											<option value='AU' >Australia</option>
											<option value='AT' >Austria</option>
											<option value='AZ' >Azerbaijan</option>
											<option value='BS' >Bahamas</option>
											<option value='BH' >Bahrain</option>
											<option value='BD' >Bangladesh</option>
											<option value='BB' >Barbados</option>
											<option value='BY' >Belarus</option>
											<option value='BE' >Belgium</option>
											<option value='BZ' >Belize</option>
											<option value='BJ' >Benin</option>
											<option value='BM' >Bermuda</option>
											<option value='BT' >Bhutan</option>
											<option value='BO' >Bolivia</option>
											<option value='BQ' >Bonaire, Sint Eustatius and Saba</option>
											<option value='BA' >Bosnia and Herzegovina</option>
											<option value='BW' >Botswana</option>
											<option value='BV' >Bouvet Island</option>
											<option value='BR' >Brazil</option>
											<option value='IO' >British Indian Ocean Territory</option>
											<option value='BN' >Brunei Darussalam</option>
											<option value='BG' >Bulgaria</option>
											<option value='BF' >Burkina Faso</option>
											<option value='MM' >Burma (Myanmar)</option>
											<option value='BI' >Burundi</option>
											<option value='KH' >Cambodia</option>
											<option value='CM' >Cameroon</option>
											<option value='CA' >Canada</option>
											<option value='CV' >Cape Verde</option>
											<option value='KY' >Cayman Islands</option>
											<option value='CF' >Central African Republic</option>
											<option value='TD' >Chad</option>
											<option value='CL' >Chile</option>
											<option value='CN' >China</option>
											<option value='CX' >Christmas Island</option>
											<option value='CC' >Cocos (Keeling) Islands</option>
											<option value='CO' >Colombia</option>
											<option value='KM' >Comoros</option>
											<option value='CG' >Congo</option>
											<option value='CK' >Cook Islands</option>
											<option value='CR' >Costa Rica</option>
											<option value='HR' >Croatia (Hrvatska)</option>
											<option value='CU' >Cuba</option>
											<option value='CW' >Curacao</option>
											<option value='CY' >Cyprus</option>
											<option value='CZ' >Czech Republic</option>
											<option value='CD' >Democratic Republic of Congo</option>
											<option value='DK' >Denmark</option>
											<option value='DJ' >Djibouti</option>
											<option value='DM' >Dominica</option>
											<option value='DO' >Dominican Republic</option>
											<option value='EC' >Ecuador</option>
											<option value='EG' >Egypt</option>
											<option value='SV' >El Salvador</option>
											<option value='GQ' >Equatorial Guinea</option>
											<option value='ER' >Eritrea</option>
											<option value='EE' >Estonia</option>
											<option value='ET' >Ethiopia</option>
											<option value='FK' >Falkland Islands (Malvinas)</option>
											<option value='FO' >Faroe Islands</option>
											<option value='FJ' >Fiji</option>
											<option value='FI' >Finland</option>
											<option value='FR' >France</option>
											<option value='GF' >French Guiana</option>
											<option value='PF' >French Polynesia</option>
											<option value='TF' >French Southern Territories</option>
											<option value='GA' >Gabon</option>
											<option value='GM' >Gambia</option>
											<option value='GE' >Georgia</option>
											<option value='DE' >Germany</option>
											<option value='GH' >Ghana</option>
											<option value='GI' >Gibraltar</option>
											<option value='GR' >Greece</option>
											<option value='GL' >Greenland</option>
											<option value='GD' >Grenada</option>
											<option value='GP' >Guadeloupe</option>
											<option value='GU' >Guam</option>
											<option value='GT' >Guatemala</option>
											<option value='GG' >Guernsey</option>
											<option value='GN' >Guinea</option>
											<option value='GW' >Guinea-Bissau</option>
											<option value='GY' >Guyana</option>
											<option value='HT' >Haiti</option>
											<option value='HM' >Heard and McDonald Islands</option>
											<option value='HN' >Honduras</option>
											<option value='HK' >Hong Kong</option>
											<option value='HU' >Hungary</option>
											<option value='IS' >Iceland</option>
											<option value='IN' >India</option>
											<option value='ID' >Indonesia</option>
											<option value='IR' >Iran</option>
											<option value='IQ' >Iraq</option>
											<option value='IE' >Ireland</option>
											<option value='IM' >Isle Of Man</option>
											<option value='IL' >Israel</option>
											<option value='IT' >Italy</option>
											<option value='CI' >Ivory Coast</option>
											<option value='JM' >Jamaica</option>
											<option value='JP' >Japan</option>
											<option value='JE' >Jersey</option>
											<option value='JO' >Jordan</option>
											<option value='KZ' >Kazakhstan</option>
											<option value='KE' >Kenya</option>
											<option value='KI' >Kiribati</option>
											<option value='KP' >Korea (North)</option>
											<option value='KR' >Korea (South)</option>
											<option value='KW' >Kuwait</option>
											<option value='KG' >Kyrgyzstan</option>
											<option value='LA' >Laos</option>
											<option value='LV' >Latvia</option>
											<option value='LB' >Lebanon</option>
											<option value='LS' >Lesotho</option>
											<option value='LR' >Liberia</option>
											<option value='LY' >Libya</option>
											<option value='LI' >Liechtenstein</option>
											<option value='LT' >Lithuania</option>
											<option value='LU' >Luxembourg</option>
											<option value='MO' >Macau</option>
											<option value='MK' >Macedonia</option>
											<option value='MG' >Madagascar</option>
											<option value='MW' >Malawi</option>
											<option value='MY' >Malaysia</option>
											<option value='MV' >Maldives</option>
											<option value='ML' >Mali</option>
											<option value='MT' >Malta</option>
											<option value='MH' >Marshall Islands</option>
											<option value='MQ' >Martinique</option>
											<option value='MR' >Mauritania</option>
											<option value='MU' >Mauritius</option>
											<option value='YT' >Mayotte</option>
											<option value='MX' >Mexico</option>
											<option value='FM' >Micronesia</option>
											<option value='MD' >Moldova</option>
											<option value='MC' >Monaco</option>
											<option value='MN' >Mongolia</option>
											<option value='ME' >Montenegro</option>
											<option value='MS' >Montserrat</option>
											<option value='MA' >Morocco</option>
											<option value='MZ' >Mozambique</option>
											<option value='NA' >Namibia</option>
											<option value='NR' >Nauru</option>
											<option value='NP' >Nepal</option>
											<option value='NL' >Netherlands</option>
											<option value='NC' >New Caledonia</option>
											<option value='NZ' >New Zealand</option>
											<option value='NI' >Nicaragua</option>
											<option value='NE' >Niger</option>
											<option value='NG' >Nigeria</option>
											<option value='NU' >Niue</option>
											<option value='NF' >Norfolk Island</option>
											<option value='MP' >Northern Mariana Islands</option>
											<option value='NO' >Norway</option>
											<option value='OM' >Oman</option>
											<option value='PK' >Pakistan</option>
											<option value='PW' >Palau</option>
											<option value='PS' >Palestinian Territory, Occupied</option>
											<option value='PA' >Panama</option>
											<option value='PG' >Papua New Guinea</option>
											<option value='PY' >Paraguay</option>
											<option value='PE' >Peru</option>
											<option value='PH' >Philippines</option>
											<option value='PN' >Pitcairn</option>
											<option value='PL' >Poland</option>
											<option value='PT' >Portugal</option>
											<option value='PR' >Puerto Rico</option>
											<option value='QA' >Qatar</option>
											<option value='RS' >Republic of Serbia</option>
											<option value='RE' >Reunion</option>
											<option value='RO' >Romania</option>
											<option value='RU' >Russia</option>
											<option value='RW' >Rwanda</option>
											<option value='GS' >S. Georgia and S. Sandwich Isls.</option>
											<option value='BL' >Saint Barthelemy</option>
											<option value='KN' >Saint Kitts and Nevis</option>
											<option value='LC' >Saint Lucia</option>
											<option value='MF' >Saint Martin (French part)</option>
											<option value='VC' >Saint Vincent and the Grenadines</option>
											<option value='WS' >Samoa</option>
											<option value='SM' >San Marino</option>
											<option value='ST' >Sao Tome and Principe</option>
											<option value='SA' >Saudi Arabia</option>
											<option value='SN' >Senegal</option>
											<option value='SC' >Seychelles</option>
											<option value='SL' >Sierra Leone</option>
											<option value='SG' >Singapore</option>
											<option value='SX' >Sint Maarten (Dutch part)</option>
											<option value='SK' >Slovak Republic</option>
											<option value='SI' >Slovenia</option>
											<option value='SB' >Solomon Islands</option>
											<option value='SO' >Somalia</option>
											<option value='ZA' >South Africa</option>
											<option value='SS' >South Sudan</option>
											<option value='ES' >Spain</option>
											<option value='LK' >Sri Lanka</option>
											<option value='SH' >St. Helena</option>
											<option value='PM' >St. Pierre and Miquelon</option>
											<option value='SD' >Sudan</option>
											<option value='SR' >Suriname</option>
											<option value='SJ' >Svalbard and Jan Mayen Islands</option>
											<option value='SZ' >Swaziland</option>
											<option value='SE' >Sweden</option>
											<option value='CH' >Switzerland</option>
											<option value='SY' >Syria</option>
											<option value='TW' >Taiwan</option>
											<option value='TJ' >Tajikistan</option>
											<option value='TZ' >Tanzania</option>
											<option value='TH' >Thailand</option>
											<option value='TL' >Timor-Leste</option>
											<option value='TG' >Togo</option>
											<option value='TK' >Tokelau</option>
											<option value='TO' >Tonga</option>
											<option value='TT' >Trinidad and Tobago</option>
											<option value='TN' >Tunisia</option>
											<option value='TR' >Turkey</option>
											<option value='TM' >Turkmenistan</option>
											<option value='TC' >Turks and Caicos Islands</option>
											<option value='TV' >Tuvalu</option>
											<option value='UG' >Uganda</option>
											<option value='UA' >Ukraine</option>
											<option value='AE' >United Arab Emirates</option>
											<option value='GB' selected>United Kingdom</option>
											<option value='US' >United States</option>
											<option value='UM' >United States Minor Outlying Islands</option>
											<option value='UY' >Uruguay</option>
											<option value='UZ' >Uzbekistan</option>
											<option value='VU' >Vanuatu</option>
											<option value='VA' >Vatican City State (Holy See)</option>
											<option value='VE' >Venezuela</option>
											<option value='VN' >Viet Nam</option>
											<option value='VG' >Virgin Islands (British)</option>
											<option value='VI' >Virgin Islands (U.S.)</option>
											<option value='WF' >Wallis and Futuna Islands</option>
											<option value='EH' >Western Sahara</option>
											<option value='YE' >Yemen</option>
											<option value='ZM' >Zambia</option>
											<option value='ZW' >Zimbabwe</option>
										</select>  {error:billing_country}
									</div>

									<div class="form-group {if error:billing_phone}error{/if}">
										<label for="billing_phone">Phone</label>
										<input type="text" id="billing_phone" name="billing_phone" class="form-control" value="{billing_phone}" /> {error:billing_phone}
									</div>

									<div class="form-group {if error:order_email}error{/if}">
										<label for="order_email">Email</label>
										<div class="controls">
											<input type="email" id="order_email" name="order_email" class="form-control" value="{order_email}" />  {error:order_email}
										</div>
									</div>

								</fieldset>

								<input type="hidden" name="shipping_same_as_billing" value="1">
								
								<!-- Shipping details code - delete if not needed
								<fieldset>
									<legend>Shipping Details</legend>

									<div class="control-group">
										<div class="controls">
											<label for="shipping_same_as_billing" class="checkbox">
												{field:shipping_same_as_billing} Same as Billing Details
											</label>
										</div>
									</div>

									<div id="shipping_details_drawer">

										<div class="control-group {if error:shipping_name}error{/if}">
											<label class="control-label" for="shipping_name">Name</label>
											<div class="controls">
												{field:shipping_name} {error:shipping_name}
											</div>
										</div>

										<div class="control-group {if error:shipping_address1}error{/if}">
											<label class="control-label" for="shipping_address1">Address</label>
											<div class="controls">
												{field:shipping_address1} {error:shipping_address1}
											</div>
										</div>

										<div class="control-group {if error:shipping_address2}error{/if}">
											<div class="controls">
												{field:shipping_address2} {error:shipping_address2}
											</div>
										</div>

										<div class="control-group {if error:shipping_city}error{/if}">
											<label class="control-label" for="shipping_city">City</label>
											<div class="controls">
												{field:shipping_city} {error:shipping_city}
											</div>
										</div>

										<div class="control-group {if error:shipping_postcode}error{/if}">
											<label class="control-label" for="shipping_postcode">Postcode</label>
											<div class="controls">
												{field:shipping_postcode} {error:shipping_postcode}
											</div>
										</div>

										<div class="control-group {if error:shipping_state}error{/if}">
											<label class="control-label" for="shipping_state">State</label>
											<div class="controls">
												{field:shipping_state} {error:shipping_state}
											</div>
										</div>

										<div class="control-group {if error:shipping_country}error{/if}">
											<label class="control-label" for="shipping_country">Country</label>
											<div class="controls">
												{field:shipping_country} {error:shipping_country}
											</div>
										</div>

										<div class="control-group {if error:shipping_phone}error{/if}">
											<label class="control-label" for="shipping_phone">Phone</label>
											<div class="controls">
												{field:shipping_phone} {error:shipping_phone}
											</div>
										</div>

									</div>

								</fieldset>

								<div class="form-actions">
									<a href="{path='store_example/checkout'}" class="btn btn-primary">Back</a>
									<input type="submit" name="next" value="Review Order" class="btn btn-primary" />
								</div>

							

							<script type="text/javascript">
							$(function() {
								$('#shipping_same_as_billing').change(function() {
									if (this.checked) {
										$('#shipping_details_drawer').slideUp();
									} else {
										$('#shipping_details_drawer').slideDown();
									}
								});
								if ($('#shipping_same_as_billing').is(':checked')) {
									$('#shipping_details_drawer').hide();
								}
							});
							</script> -->

								<div class="form-actions">
									<a href="{path='checkout/dropin-checkout'}" class="btn btn-primary btn-lg">Back</a>
									<input type="submit" name="next" value="Review Order" class="btn btn-primary btn-lg" />
								</div>

							{/exp:store:checkout}
							
							{if:else}
								{sn_myAccount_signin_form}
							{/if}

							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
