{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								{exp:store:orders order_hash="{segment_3}"}
								
								<h1>Order Summary / Tax Invoice <small> your order is complete!</small></h1>
								
									{if no_orders}
										{redirect="404"}
									{/if}
									
									<div class="row">
										<div class="col-md-6">
											<fieldset>
												<legend>Summary</legend>
												<div class="control-group">
													<b>Order ID:</b> {order_id}<br />
													<b>Date:</b> {order_date format="%j %M %Y"}<br />
													<b>Status:</b> {order_status}<br />
													<b>Total:</b> {order_total}<br />
													<b>Paid:</b> {if is_order_paid}Yes{if:else}No{/if}
												</div>
											</fieldset>
										</div>
										
										<div class="col-md-6">
											<fieldset>
												<legend>Billing Details</legend>
												<div class="control-group">
													<div><b>{billing_name}</b></div>
													<div>{billing_address1}</div>
													<div>{billing_address2}</div>
													<div>{billing_city} {billing_postcode}</div>
													<div>{billing_state_name}</div>
													<div>{billing_country_name}</div>
													<div>Tel: {billing_phone}</div>
													<div>Email: {order_email}</div>
												</div>
											</fieldset>
										</div>
									</div>
											
									<!-- Shipping details code - delete if not needed
									<fieldset>
										<legend>Shipping Details</legend>
										<div class="control-group">
											{if shipping_same_as_billing}
												Same as Billing Details
											{if:else}
												<div><b>{shipping_name}</b></div>
												<div>{shipping_address1}</div>
												<div>{shipping_address2}</div>
												<div>{shipping_city} {shipping_postcode}</div>
												<div>{shipping_state_name}</div>
												<div>{shipping_country_name}</div>
												<div>{shipping_phone}</div>
											{/if}
										</div>
									</fieldset> -->
									
									<hr/>
										

									<table class="table cbw-table">
										<thead>
											<tr>
												<th style="width:60%">Product</th>
												<th style="text-align:right">Price</th>
												<th style="text-align:center">Qty</th>
												<th style="text-align:right">Total</th>
											</tr>
										</thead>
										<tbody>
											{items}
												<tr>
													<td>
														<h4><a href="{path='store_example/product'}/{url_title}">{title}</a></h4>
														<p><small>
															<b>SKU:</b> {sku}<br />
															{modifiers}
																<b>{modifier_name}</b>: {modifier_value} {if price_mod_val}({price_mod}){/if}<br />
															{/modifiers}
														</small></p>
													</td>
													<td style="text-align:right">{price}</td>
													<td style="text-align:center">{item_qty}</td>
													<td style="text-align:right">{item_subtotal}</td>
												</tr>
											{/items}
											<tr>
												<th colspan="3">Subtotal</th>
												<th style="text-align:right">{order_subtotal}</th>
											</tr>
											{if order_shipping_val}
												<tr>
													<td colspan="3">Shipping</td>
													<td style="text-align:right">{order_shipping}</td>
												</tr>
											{/if}
											{if order_handling_val}
												<tr>
													<td colspan="3">Handling</td>
													<td style="text-align:right">{order_handling}</td>
												</tr>
											{/if}
											{if order_tax_val}
												<tr>
													<td colspan="3">{tax_name} ({tax_percent}%)</td>
													<td style="text-align:right">{order_tax}</td>
												</tr>
											{/if}
											<tr>
												<th colspan="3">Total</th>
												<th style="text-align:right">{order_total}</th>
											</tr>
										</tbody>
									</table>

								{/exp:store:orders}
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
