{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						<h1>Your Basket</h1>
						{if group_id == '1'}
						<p><strong>NOTE: we need a generic view product template to link to from here as we cant use a 'channel_short_name' conditional to determin where the view link goes</strong></p>
						{/if}
						{exp:store:checkout
							form_class="form-horizontal"
							next="checkout/checkout-step2"}

							{if no_items}
								<div class="alert alert-danger">Your cart is empty!</div>
							{/if}

							<table class="table cbw-table">
								<thead>
									<tr>
										<th style="width:60%">Product</th>
										<th>Price</th>
										<th>Qty</th>
										<th style="text-align:right">Total</th>
									</tr>
								</thead>
								<tbody>
									{items}
										<tr>
											<td>
												<h4><a href="{path='store_example/product'}/{url_title}">{title}  {channel}</a></h4>
												<p><small>
													<b>SKU:</b> {sku}<br />
													{modifiers}
														<b>{modifier_name}</b>: {modifier_value} {if price_mod_val}({price_mod}){/if}<br />
													{/modifiers}
												</small></p>
											</td>
											<td>{price}</td>
											<td>
												<select name="items[{key}][item_qty]" value="{item_qty}">
												<option value="0">0</option>
												<option value="1" {if "{item_qty}" == "1"}selected{/if}>1</option>
												</select>
											</td>
											<td style="text-align:right">{item_subtotal}</td>
										</tr>
									{/items}
									<tr>
										<th colspan="3">Subtotal</th>
										<th style="text-align:right">{order_subtotal}</th>
									</tr>
									{if order_handling_val}
										<tr>
											<td colspan="3">Handling</td>
											<td style="text-align:right">{order_handling}</td>
										</tr>
									{/if}
									{if tax_name}
										<tr>
											<td colspan="3">{tax_name} ({tax_percent}%)</td>
											<td style="text-align:right">{order_tax}</td>
										</tr>
									{/if}
									<tr>
										<th colspan="3">Total</th>
										<th style="text-align:right">{order_total}</th>
									</tr>
								</tbody>
							</table>

							<div class="form-actions">
							<p>
								<input type="submit" name="update_cart" value="Update Totals" class="btn btn-primary btn-lg" />
								<input type="submit" name="empty_cart" value="Empty Cart" class="btn btn-danger btn-lg" />
								<input type="submit" name="next" value="Continue to Billing Details" class="btn btn-primary btn-lg" />
							</p>	
							</div>

						{/exp:store:checkout}

					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_cart}
				
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
