
	<div class="btn-group spacer">
		<a href="{path='my-account/'}" class="btn btn-primary {if "{segment_1}" == "my-account" && "{segment_2}" == ""}active{/if}">My Account</a>
		<a href="{path='my-account/order-history/'}" class="btn btn-primary {if "{segment_1}" == "my-account" && "{segment_2}" == "order-history" || "{segment_1}" == "my-account" && "{segment_2}" == "view-order"}active{/if}">My orders</a>
		<a href="{path='my-account/edit-details/'}" class="btn btn-primary {if "{segment_1}" == "my-account" && "{segment_2}" == "edit-details"}active{/if}">Update My Details</a>
		<a href="{path='my-account/change-password/'}" class="btn btn-primary {if "{segment_1}" == "my-account" && "{segment_2}" == "change-password"}active{/if}">Change My Password</a>
	</div>
