<nav class="navbar navbar-default">
	<div class="container account-bar-bg">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			
			{if logged_out}
				<a href="{site_url}/create-an-account" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-user"></span> Create an Account</a>
				<a href="{site_url}/sign-in" class="btn btn-primary navbar-btn">Sign in</a>
			{if:else}
				<p class="navbar-text"><span class="nav-text-colour"><span class="glyphicon glyphicon-user"></span> Signed in as: <strong>{username}</strong></span></p>
				<a href="{site_url}/my-account" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-user"></span> My Account</a>
				<a href="{path='LOGOUT'}" class="btn btn-primary navbar-btn">Log Out</a>
			{/if}
			
			<div class="btn-group pull-right" style="float:right;">
				<button type="button" class="btn btn-primary dropdown-toggle navbar-btn" data-toggle="dropdown">
					<span class="glyphicon glyphicon-shopping-cart"></span> Basket () Items <span class="caret"></span>
				</button>
			  
				<ul class="dropdown-menu">
				  
					<li>
						<div class="mini-cart-product">
							<div class="row">
								<div class="col-xs-4">
									{if product_detail_image}
										<img src="{product_detail_image}" class="img-responsive" alt="{title}" width="80px;">
									{if:else}
										<img src="http://placehold.it/470x400" class="img-responsive" alt="Image coming soon" width="80px;">
									{/if}
								</div>
								<div class="col-xs-8">
									{title}
								</div>
							</div>
						</div>
					</li>
					
					<li class="divider"></li>
						
						<div class="basket-no-items">
							<p>There are currently no items in your basket</p>
						</div>
					
						<div class="basket-button-holder">
						
						</div>
				
						<li><div class="basket-button-holder">
						<a href="{site_url}index.php/view-basket" class="btn btn-primary basket-button-width"><span class="glyphicon glyphicon-shopping-cart"></span> View Basket</a>
						<a href="{if logged_in}{site_url}index.php/checkout/{if:else}{site_url}index.php/checkout/guest-login/{/if}" class="btn btn-primary basket-button-width">Checkout <span class="glyphicon glyphicon-arrow-right"></span></a>
						</div></li>
					
				  </ul>
			</div>
			
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

