<!-- Logo Bar Start -->
			<div class="row">
				<div class="col-md-12">
					<div class="logo-bar">
						<p>
							<img src="{site_url}img/logos-rya.gif" alt="RYA Onboard" />
							<img src="{site_url}img/logos-sport-wales.png" alt="Sport Wales/Chwaraeon Cymru" />
							<img src="{site_url}img/logos-t15.gif" alt="T15" />
							<img src="{site_url}img/logos-rya-training.gif" alt="RYA Training" />
							<img src="{site_url}img/logos-aala.gif" alt="AALA" />
							<img src="{site_url}img/logos-sported.png" alt="Sported" />
							<img src="{site_url}img/logos-erdf.gif" alt="ERDF" />
						</p>
					</div>
				</div>
			</div><!-- Logo Bar End -->