<!-- Footer Start -->
		<footer>
		<div class="container footer-bg">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-content-top">
						<p>Cardigan Bay Watersports Sandy Slip, The Harbour, New Quay | 01545 561 257 | <a href="mailto:info@cardiganbaywatersports.org.uk">info@cardiganbaywatersports.org.uk</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="footer-content">
						<p>Company Limited by Guarantee No. 5731116 | Registered Charity No.1117225 | &copy; Cardigan Bay Water Sports 2014</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-content">
						<ul>
							<li><a href="{site_url}terms-conditions/">Terms &amp; Conditions</a></li>
							<li><a href="{site_url}privacy/">Privacy</a></li>
							<li><a href="{site_url}contact-us/">Contact us</a></li>
							<li><a href="{site_url}sitemap/">Sitemap</a></li>
							<li class="design">Design &amp; Development <a href="http://52-4.com/" target="_blank">52-4.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</footer><!-- Footer End -->