<!-- Logo Area Start -->
		<div class="container logo-bg">
			<div class="row">
				<div class="col-md-6">
					<div class="logo">
						<span><a href="{homepage}"><img src="{site_url}img/cbw-logo.png" alt="" class="img-responsive" /></a></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="btn-group pull-right account-buttons-top">
						{if logged_out}
							<a href="{site_url}create-an-account/" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-user"></span> Create an Account</a>
							<a href="{site_url}my-account/sign-in" class="btn btn-primary navbar-btn">Sign in</a>
						{if:else}
							<p class="navbar-text"><span class="nav-text-colour"><span class="glyphicon glyphicon-user"></span> Signed in as: <strong>{username}</strong></span></p>
							<a href="{site_url}my-account/" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-user"></span> My Account</a>
							<a href="{path='LOGOUT'}" class="btn btn-primary navbar-btn">Log Out</a>
						{/if}
					</div>
				</div>
			</div>
		</div><!-- Logo Area Start -->