		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{site_url}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="{site_url}js/bootstrap.min.js"></script>
		<script src="{site_url}js/vendor/jquery.mixitup.min.js"></script>
        <script src="{site_url}js/main.js"></script>
		<script src="{site_url}js/lightbox.min.js"></script>
		
		<script type="text/javascript" src="//use.typekit.net/vkz1fmv.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>