<!-- Main Menu Start -->
		<div class="container">
			<div class="row menu-bg">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<span class="navbar-brand" href="#">Main Menu</span>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav" id="startnav">
								<li class="home"><a href="{homepage}"><span class="icon-home"></span></a></li>
								{exp:structure:nav include_ul="no" current_class="active" max_depth="1" exclude="1"}
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>
			</div>
		</div><!-- Main Menu End -->