<!-- Sign in Form Start -->
							<div class="row">
								<div class="col-md-12">
									<h1>Sign in</h1>
									
									<div class="alert alert-danger">You must be logged in to access this page.</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<!-- Sign In Form Start -->
									<div class="sign-in-form">
										{exp:member:login_form return="-1" form_id="enquiry_form" form_class="login_form"}
											<div class="form-group">
												<label for="username">Username</label>
												<input type="text" name="username" placeholder="Username" class="form-control" maxlength="42" required/>
											</div>
											<div class="form-group">
												<label for="password">Password</label>
												<input type="password" name="password" placeholder="Password" class="form-control" maxlength="42" required />
											</div>
											
											{if auto_login}
												<div class="checkbox">
													<label>
														<input type="checkbox" name="auto_login" value="1"> Keep me logged in on future visits
													</label>
												</div>
											{/if}
											
											<div class="form-group">
												<button type="submit" type="submit" class="btn btn-primary btn-lg">Submit</button>
											</div>
											
											<p class="check-pad"><a href="{path='sign-in/forgotten-password/'}">Forgot your password?</a></p>
										{/exp:member:login_form}
									</div><!-- Sign In Form End -->
								</div>
								<div class="col-md-6 col-lg-6">
									<div class="intro-text">
										<h2>Not registered?</h2>
										<a href="{path='my-account/create-an-account/'}" class="btn btn-primary btn-lg">Create an account here.</a>
									</div>
								</div>
							</div><!-- Sign in Form End -->