{exp:store:cart}
{if no_items}
{/if}
<div class="cart">
	<h2>Cart</h2>
		
			{if no_items}
				Your cart is empty!
			{/if}
			<ul>
				{items}
				   <li>{title} ({price}) <ul>{modifiers}<li>{modifier_name}: {modifier_value}</li>{/modifiers}</ul></li>
				{/items}	
			</ul>
			<p> Your cart: {order_qty} items - {order_total}</p>
			<a href="{path='checkout/view-basket/'}" class="btn btn-primary btn-md">Checkout</a>
		
</div>

{/exp:store:cart}