<!-- Activities and Training Box Start -->
					<div class="activities-training">
						<p><a href=""><span class="icon-sailing"></span></a> <a href=""><span class="icon-windsurfing"></span></a> <a href=""><span class="icon-powerboating"></span></a> 
						<a href=""><span class="icon-keelboating"></span></a> <a href=""><span class="icon-paddleboarding"></span></a> <a href=""><span class="icon-youth-sailing"></span></a> 
						<a href=""><span class="icon-kayaking"></span></a></p>
						<h2>Activities &amp; Training</h2>
					</div><!-- Activities and Training Box End -->