{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								<h1>Checkout - Confirm Order</h1>
								
								{exp:store:checkout
									return="checkout/order-summary/ORDER_HASH"
									error_handling="inline"
									error_delimiters='<div class="alert alert-danger">|</div>'
									register_member="TRUE"}

									{if no_items}
										{redirect="checkout/checkout"}
									{/if}

									<div class="row">
									<div class="col-md-6">
									<fieldset>
										<legend>Billing Details</legend>
										<div class="form-group">
											<div><b>{billing_name}</b></div>
											<div>{billing_address1}</div>
											<div>{billing_address2}</div>
											<div>{billing_city} {billing_postcode}</div>
											<div>{billing_state_name}</div>
											<div>{billing_country_name}</div>
											<br/>
											<div><strong>Tel:</strong> {billing_phone}</div>
											<div><strong>Email:</strong> {order_email}</div>
										</div>
									</fieldset>
										
									</div>
									
									<div class="col-md-6">
									<fieldset>
										<legend>Payment</legend>

										{if error:payment_method}
											<div class="alert alert-error">{error:payment_method}</div>
										{/if}

										<div class="form-group">
											<label for="payment_method">Payment Method</label>
											<div class="controls">
												<select id="payment_method" name="payment_method" class="form-control">
													<option value=""></option>
													{payment_method_options}
												</select>
												<p class="help-block">
													<span class="label label-info">Note</span>
													To accept credit card payments directly on your site, you will need to set up an SSL certificate. For more information, contact your web host.
												</p>
											</div>
										</div>

										<div class="form-group">
											<label for="payment_card_no">Card No</label>
											<input type="text" id="payment_card_no" name="payment[card_no]" class="form-control" value="" />
										</div>

										<div class="form-group">
											<label for="payment_name">Name on Card</label>
											<input type="text" id="payment_name" name="payment[name]" class="form-control" value="" />
										</div>

										<div class="form-group">
											<label for="payment_exp_month">Expiry</label>
											<div class="form-inline">
												<select id="payment_exp_month" name="payment[exp_month]" class="form-control" style="width:auto">
													<option value=""></option>
													{exp_month_options}
												</select>
												<select id="payment_exp_year" name="payment[exp_year]" class="form-control" style="width:auto">
													<option value=""></option>
													{exp_year_options}
												</select>
											</div>
										</div>

										<div class="form-group">
											<label for="payment_csc">CSC</label> !!!!!! ADD POPOVER OR TOOLTIP WITH EXPLANTION OF WHAT THIS IS
											<input type="text" id="payment_csc" name="payment[csc]" class="form-control" value="" />
										</div>

									</fieldset>
									</div>
									</div>

									<div class="well">
										<fieldset>
											<legend>Order Summary</legend>

											<table class="table table-condensed">
												<thead>
													<tr>
														<th style="width:60%">Product</th>
														<th style="text-align:right">Total</th>
													</tr>
												</thead>
												<tbody>
													{items}
														<tr>
															<td>{item_qty} &times; {title}</td>
															<td style="text-align:right">{item_subtotal}</td>
														</tr>
													{/items}
													<tr>
														<th>Subtotal</th>
														<th style="text-align:right">{order_subtotal}</th>
													</tr>
													<tr>
														<th>Total</th>
														<th style="text-align:right">{order_total}</th>
													</tr>
												</tbody>
											</table>
										</fieldset>
									</div>
									

									<div class="form-actions pull-right">
										<a href="{path='checkout/checkout-step2'}" class="btn btn-primary btn-lg">Back</a>
										<input type="submit" name="submit" value="Place Order" class="btn btn-success btn-lg" />
									</div>

								{/exp:store:checkout}
								
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
