{sn_global_html_head}
    <body>
        {sn_global_chromeFrame_skipTo}
		
		{sn_global_logo}
		
		{sn_global_main_nav}
		
		<div class="container main-bg">
		
			<div class="row">
				{sn_global_breadcrumbs}
				
				<div class="col-md-9">
					<div class="main-content inner-content" id="startcontent">
						
						<div class="row">
							<div class="col-md-12">
								<h1>Checkout - Confirm Order</h1>
								
								<div class="alert alert-danger">Note: Payment will not be taken upon making an enquiry for a Drop in Activity. 
								You will be able to pay in full or make a deposit via the website once your preferred date availability has been confirmed.</div>
								
								{exp:store:checkout
									return="checkout/order-summary/ORDER_HASH"
									error_handling="inline"
									error_delimiters='<div class="alert alert-danger">|</div>'
									register_member="TRUE"}

									{if no_items}
										{redirect="checkout/dropin-checkout"}
									{/if}

									
									<div class="row">
									<div class="col-md-6">
									<fieldset>
										<legend>Billing Details</legend>
										<div class="form-group">
											<div><b>{billing_name}</b></div>
											<div>{billing_address1}</div>
											<div>{billing_address2}</div>
											<div>{billing_city} {billing_postcode}</div>
											<div>{billing_state_name}</div>
											<div>{billing_country_name}</div>
											</br>
											<div>Tel: {billing_phone}</div>
											<div>Email: {order_email}</div>
										</div>
									</fieldset>
									
									</div>
									
									<div class="col-md-6">
									<fieldset>
										<legend>Payment</legend>

										{if error:payment_method}
											<div class="alert alert-error">{error:payment_method}</div>
										{/if}

										<input type="hidden" id="payment_method" name="payment_method" class="form-control" value="Manual" />
												
										<p>The option to pay will be accessible when the availability of your preferred dates has been confirmed via email.</p>

									</fieldset>
									</div>
									</div>

									<div class="well">
										<fieldset>
											<legend>Order Summary</legend>

											<table class="table table-condensed">
												<thead>
													<tr>
														<th style="width:60%">Product</th>
														<th style="text-align:right">Total</th>
													</tr>
												</thead>
												<tbody>
													{items}
														<tr>
															<td>{item_qty} &times; {title}</td>
															<td style="text-align:right">{item_subtotal}</td>
														</tr>
													{/items}
													<tr>
														<th>Subtotal</th>
														<th style="text-align:right">{order_subtotal}</th>
													</tr>
													<tr>
														<th>Total</th>
														<th style="text-align:right">{order_total}</th>
													</tr>
												</tbody>
											</table>
										</fieldset>
									</div>
									
									<div class="form-actions pull-right">
										<a href="{path='checkout/checkout-step2'}" class="btn btn-primary btn-lg">Back</a>
										<input type="submit" name="submit" value="Place Order" class="btn btn-success btn-lg" />
									</div>

								{/exp:store:checkout}
								
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					{sn_side_weather}
					
					{sn_side_callout_1}
					
					{sn_side_callout_2}
				</div>
				
			</div>
			
			{sn_global_footer_logos}
			
		</div>
		
		{sn_global_footer}
	   
        {sn_global_js_analytics}
    </body>
</html>
